@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>


    <div class="text-center">
    <img src="~/tinanews.jpg" alt="events" width="auto" height="300px" />
    <img src="~/optimlogo.png" alt="Optimist logo" width="auto" height="150px" />
    <button><a href="mailto:reachingforthestarsoptimist@gmail.com">Email Us</a></button>
    <button><a href="https://www.facebook.com/Reachingforthestarsoptimistclub/">FaceBook</a></button>
    <p>Join us in service to our community through our events, and initiatives.
        Our motto is "friend of youth". We supply scholarships through essay competitions, we support our community
        with food-drives, and help kids with anxiety issues learn coping skills through our initiative with M.I. Understanding.
        Wether you attend our events or join our club this is a rewarding experience, and a great way to give back to the community.
    </p>
</div>
